img {
  max-width: 100%;
}

#c {
  border: 1px solid black;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.library {
  width: 150px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 600px;
}

.library img {
  background: lightyellow;
  margin-bottom: 10px;
}

.designs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.design {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design canvas {
  width: 100% !important;
  height: auto !important;
  border: 1px solid #ccc;
  max-width: 100%;
}
